{% extends 'base.html'%}

{% import 'components/create_field_auth.html' as field_creator %}

{% block content %}
<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
  
                  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>
  
                  <form class="mx-1 mx-md-4" method="post">
                    {{ form.csrf_token }}
                    {% if form.csrf_token.errors %}
                      <div class="warning">You have submitted an invalid CSRF token</div>
                    {% endif %}
  

                    {{ field_creator.create_field(form.username) }}
                    {{ field_creator.create_field(form.email) }}
                    {{ field_creator.create_field(form.password) }}
                    {{ field_creator.create_field(form.confirm_password) }}

  
                    <div class="form-check d-flex justify-content-center mb-5">
                      <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" />
                      <label class="form-check-label" for="form2Example3">
                        I agree all statements in <a href="#!">Terms of service</a>
                      </label>
                    </div>
  
                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                      {{form.submit(class='btn btn-primary btn-lg')}}
                      <a href="{{ url_for('auth.login') }}"><div class="btn btn-secondary btn-lg" style="margin-left: 25px;"> sign in </div></a>
                    </div>
  
                  </form>
  
                </div>
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                  <img src="{{ url_for('static',filename='media/illustrations/sigma/10.png') }}"
                    class="img-fluid" alt="Sample image">
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}