{% extends 'base.html' %}


{% block content %}

<div class="center">
    <h3>
        You should be automatically redirected in <span id="seconds">7</span> seconds.
    </h3>
</div>




<script>
    // Countdown timer for redirecting to another URL after several seconds

    var seconds = 7; // seconds for HTML
    var foo; // variable for clearInterval() function

    function redirect() {
        document.location.href = '{{ target }}';
    }

    function updateSecs() {
        document.getElementById("seconds").innerHTML = seconds;
        seconds--;
        if (seconds == -1) {
            clearInterval(foo);
            redirect();
        }
    }

    function countdownTimer() {
        foo = setInterval(function () {
            updateSecs()
        }, 1000);
    }

    countdownTimer();
</script>

{% endblock %}