{% import 'components/create_field_auth.html' as field_creator %}

<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
  
                  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Our Permisions </p>
  

                  <div class="container">

                  <div class="row" style="margin-bottom: 120px;">
                    <div class="col-md-3 col-sm-6">
                    <div class="counter">
                    <div class="counter-icon">
                    <i class="fa fa-globe"></i>
                    </div>
                    <h3>Users</h3>
                    <span class="counter-value">{{ context['users'] }}</span>
                    </div>
                    </div>

                    <div class="col-md-3 col-sm-6" style="margin-left: 100px;">
                    <div class="counter orange">
                    <div class="counter-icon">
                    <i class="fa fa-rocket"></i>
                    </div>
                    <h3>Web Links</h3>
                    <span class="counter-value">{{ context['links'] }}</span>
                    </div>
                    </div>
                    </div>

                  </div>





                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <a href="{{ url_for('auth.login') }}"><div class="btn btn-primary btn-lg" style="margin-left: 25px;"> sign in </div></a>
                    <a href="{{ url_for('auth.register') }}"><div class="btn btn-secondary btn-lg" style="margin-left: 25px;"> sign up </div></a>
                  </div>
  
                </div>
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                  <img src="{{ url_for('static',filename='media/illustrations/sigma/17.png') }}"
                    class="img-fluid" alt="Sample image">
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
