<!-- Navbar -->
<nav class="navbar navbar-light navbar-expand bg-light navigation-clean fixed-top">
    <div class="container"><a class="navbar-brand" href="#">CUTLINK</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            {% if current_user.is_authenticated %}
            {{current_user.email}}
            <a class="btn btn-primary ms-auto" role="button" href="{{ url_for('auth.logout')}}">Log out</a>
            {% else %}
            <a class="btn btn-primary ms-auto" role="button" href="{{ url_for('auth.login')}}">Sign in</a>
            {% endif %}
        </div>
    </div>
</nav>