{% import 'components/create_field_auth.html' as field_creator %}

<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
  
                  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Congraguation! </p>


                  <div class="form-check d-flex justify-content-center mb-5">
                    <label class="form-check-label" for="form2Example3">
                      Your link expire at {{ context['expire_at'] }} :
                      <a id="link_target" href="{{ url_for('main.redirect_to_tareget',code_number=context['code'])}}">
                        <h3>{{ context['code'] }}</h3>                     
                    </a>
                    <p class="small text-muted">
                      {{ context['target'] }}
                    </p>
                    
                    </label>
                  </div>

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <div onclick="CopyHref('link_target')" class="btn btn-primary btn-lg"> Copy</div>
                    <a href="{{ url_for('main.index') }}"><div class="btn btn-secondary btn-lg" style="margin-left: 25px;"> Next Link </div></a>
                  </div>
    
                </div>
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                  <img src="{{ url_for('static',filename='media/illustrations/sigma/12.png') }}"
                    class="img-fluid" alt="Sample image">
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script>
function CopyToClipboard(containerid) {
  if (document.selection) {
    var range = document.body.createTextRange();
    range.moveToElementText(document.getElementById(containerid));
    range.select().createTextRange();
    document.execCommand("copy");
  } else if (window.getSelection) {
    var range = document.createRange();
    range.selectNode(document.getElementById(containerid));
    window.getSelection().addRange(range);
    document.execCommand("copy");
    // alert("Text has been copied, now paste in the text-area")
  }
}
function CopyHref(containerid){
    var host = window.location.host;
    var copyText = host + document.getElementById(containerid).getAttribute('href');

    var el = document.createElement('textarea');
    el.value = copyText;
    el.setAttribute('readonly', '');
    el.style = {
        position: 'absolute',
        left: '-9999px'
    };
    document.body.appendChild(el);
    el.select();
    document.execCommand('copy');
    document.body.removeChild(el);

}

  </script>
