
{% macro create_field(field) %}

<div class="d-flex flex-row align-items-center mb-4">
  <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
  <div class="form-outline flex-fill mb-0">
    {{ field.label(class='form-label') }}
    {{ field(class='form-control') }}
    <div class="invalid-feedback">
      {% for error in field.errors %}
          <span>{{ error }}</span>
      {% endfor %}
  </div>
  </div>
</div>

{% endmacro %}


